h2, h3, h4 {
    border-bottom: 2px solid white;
}

h2 {
    color: rgb(252, 252, 155);
    border-color: rgb(252, 252, 155);
}

h3 {
    color: rgb(220 255 217);
    border-color: rgb(220 255 217);
}

table {
    border: none;
    border-collapse: collapse;
    width: 100%;
}

table td, table th {
    color: black;
    padding: 5px;
}

table th {
    background-color: rgb(255 255 192 / 50%);
}

table tr:last-child td:first-child{
    border-bottom-left-radius: 15px;
}

table tr:first-child td:first-child, table tr:first-child th:first-child {
    border-top-left-radius: 15px;
}
    
table tr:last-child td:last-child {
    border-bottom-right-radius: 15px;
}

table tr:first-child td:last-child, table tr:first-child th:last-child {
    border-top-right-radius: 15px;
}

table tr:nth-child(even) {
    background: rgb(175, 188, 213);
}

table tr:nth-child(odd) {
    background: rgb(213, 175, 175);
}

table tr td {
    width: 25%;
}

.verb1 {
    color: rgb(31, 201, 31);
}

.verb2 {
    color: lime;
}

.sust1 {
    color: rgb(0, 187, 255);
}

.sust2 {
    color: aqua;
}

.particle1 {
    color: yellow;
}

.particle2 {
    color: orange;
}

.adverb {
    color: rgb(255, 133, 133);
}

.nexo {
    color: violet;
}

.transform1 {
    color: rgb(255, 63, 159);
}

.transform2 {
    color: rgb(255, 59, 255);
}