@font-face {
    font-family: 'gowun';
    src: url('../assets/fonts/GowunDodum-Regular.ttf');
}

* {
    color: white;
    font-family: gowun;
}

*:not(h1):not(h2):not(h3):not(h4) {
    font-size: 16px;
}

body {
    background: silver url("../assets/img/background.png") no-repeat fixed center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0 auto;
    min-height: 100vh;
}

.header {
    background: rgb(51, 51, 51);
    padding: 5px 0;
}

.header>.logo, .header>.logo2 {
    float: left;
    height: 50px;
    margin: 2px 20px 0px;
    width: 50px;
}

.header>.logo2 {
    float: right;
}

.header>.logo2:hover, .header>.logo2.rotate {
    animation: rotation 2s linear;
}

.header>.logo2.rotateInfinite {
    animation: rotation 2s linear infinite;
}

@keyframes rotation {
    100% {transform: rotate(-360deg);}
  }

.header>ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.header>ul>li, .navbar {
    background: #555;
    border-radius: 15px;
    font-weight: bold;
    margin: 5px;
    padding: 10px;
}

.header>ul>li {
    float: left;
}

.navbar::first-letter, .subnav::first-letter {
    text-transform: uppercase;
}

.navbar.collapsable .icoCollapsed {
    float: right;
    width: 23px;
}

.subnav {
    border-radius: 15px;
    display: none;
    margin: 2px 0px 2px 20px;
    padding: 5px 10px;
}

.header>ul>li:hover, .navbar:hover, #spotify>.container>.item:hover {
    background: rgb(15, 27, 80);
}

.navbar>.subnav:hover {
    background: rgb(26, 46, 136) !important;
}

.header>ul>li.selected, .navbar.selected, #spotify>.container>.item.selected {
    background: rgb(80, 15, 15);
}

.navbar>.subnav.selected {
    background: rgb(130, 25, 25) !important;
}

.main {
    display: flex;
    flex: 1;
    flex-grow: 1;
    overflow-y: hidden;
}

.aside, .content {
    background: rgba(51, 51, 51, .85);
    border-radius: 15px 9px 9px 15px;
    overflow-y: scroll;
    visibility: hidden;
}

.aside {
    flex: 2 2 10px;
    margin: 10px 5px 10px 10px;
    padding: 10px;
}

.aside .imgContainer {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100%;
}

.content {
    flex: 5 5;
    margin: 10px 10px 10px 5px;
    padding: 0px 10px 10px;
}

#spotify {
    background: linear-gradient(145deg, #0045a1 0 33%, #ce2a37 0 66%, #ffc31f 33% 100%);
    border-radius: 15px;
    padding: 10px 10px 0 10px;
    position: absolute;
    right: 7px;
    top: 70px;
    visibility: hidden;
    width: 400px;
    z-index: 999;
}

#spotify>.container {
    border-radius: 15px;
    display: flex;
    font-weight: bold;
    justify-content: space-between;
    margin-bottom: 6px;
}

#spotify>.container>.item {
    background: rgb(51, 51, 51);
    border-radius: 15px;
    margin-bottom: 3px;
    padding: 5px;
    text-align-last: center;
    width: 20%;
}

#changelog #changelogContents, #note #changelogContents {
    padding: 20px;
}

#changelog {
    background: linear-gradient(145deg, #431d20, #06182d);
    border-radius: 15px;
    bottom: 43px;
    height: 250px;
    overflow-y: scroll;
    position: absolute;
    right: 7px;
    visibility: hidden;
    width: 400px;
    z-index: 999;
}

#changelog .version, #note .version {
    color: rgb(252, 252, 155);
    border-color: rgb(252, 252, 155);
    margin: 0;
}

#changelog #full-changelog {
    border-radius: 15px;
    background-color: rgb(252, 252, 155);
    color: black;
    font-style: italic;
    font-weight: bold;
    margin: auto;
    padding: 5px;
    text-align: center;
    width: 150px;
}

#changelog #changelog-oldVersions {
    display: none;
}

#changelog .new, #changelog .bugfix, #changelog .feature,
#note .new, #note .bugfix, #note .feature {
    border-radius: 15px 15px 0 0;
    color: black;
    float: right;
    font-style: italic;
    margin: 0px 5px;
    padding: 0 10px 0 10px;
}

#changelog .new, #note .new {
    background-color: rgb(248, 62, 62);
}

#changelog .bugfix, #note .bugfix {
    background-color: rgb(252, 252, 155);
}

#changelog .feature, #note .feature {
    background-color: rgb(98, 248, 201);
}

.footer {
    align-items: center;
    background: rgb(51, 51, 51);
    display: flex;
    font-weight: bold;
    justify-content: center;
    padding: 5px;
}

.footer #version, .footer #footer_filler {
    flex: 1;
    margin: 0 10px;
    text-align-last: right;
}

.footer #copyrigth {
    flex: 2;
    text-align: center;
}

.footer a {
    color: inherit;
    text-decoration: none;
}

.footer img {
    border-radius: 50%;
    margin-bottom: -5px;
    padding: 0px 5px;
    width: 25px;
}

/* scrollbar */
::-webkit-scrollbar {
    /* width */
    width: 12px;
}

::-webkit-scrollbar-track {
    /* Track */
    box-shadow: inset 0 0 5px grey;
    border-radius: 0 10px 10px 0;
}

::-webkit-scrollbar-thumb {
    /* Handle */
    background: rgb(80, 15, 15);
    border-radius: 0 10px 10px 0;
}

::-webkit-scrollbar-thumb:hover {
    /* Handle on hover */
    background: rgb(15, 27, 80);
}
